<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFToVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <PDFToVision.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>b8e696fb0baf49498eed88e5ad987ee0</value>
            </setting>
            <setting name="EndPointUrl" serializeAs="String">
                <value>https://westeurope.api.cognitive.microsoft.com/vision/v1.0/ocr</value>
            </setting>
        </PDFToVision.Properties.Settings>
    </applicationSettings>
</configuration>